/* font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive; */


body {
  background-image: url(../images/burger.jpg);
  background-size: 100%;
}

h1, h2, h3{
  font-family: 'Lobster', cursive;
  color: bisque;
}

h1{
  font-size: 70px
}

h2{
  font-size: 50px
}

.title{
  align-items: center;
justify-content: center

}

.burger{
  font-family: 'Lobster Two', cursive;
  color: bisque
}

#addBurger{
  align-items: center;
justify-content: center
}